
body, div, p {
    margin: 0;
    padding: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    font-family: Poppins;
    font-weight: 600;
}

.navbar div {
    display: flex;
}

.navbar p {
    margin: 0;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar p:hover {
    background-color: #ef4036;
    color: #ffffff;
}

.logo-holder{
    height: 40px;
    width: 40px;
}

.buttons{
    gap: 5px;
}
.buttons p{
    color: #ef4036;
    border: 1px solid #ef4036;
}
