
.home-page {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.slick-dots{
    position: relative;
    top: 600px;

}

.slick-dots li.slick-active button:before {
    color: #ffffff !important;
}

.slider-container {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-container img {
    object-fit:cover;
    width: 100%;
    height: 100%;
}
